.project-title {
  color: var(--primary-color);
}

.project-box {
  /* aspect-ratio: 1/1; */
  color: white;
  text-align: center;
  padding: 3rem;
  border-radius: 10px;
  border: 3px solid var(--primary-color) !important;
  min-width: 250px;
  box-shadow: 0 0 15px 5px rgba(117, 98, 224, 0.2); /* Purple glow */
  flex: 1;
  height: 100%; /* Ensure it stretches to fill available space */
}

.carousel-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.project-group {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Auto-fill with min width */
  gap: 20px;
  align-items: stretch; /* Ensures all items stretch to the same height */
  grid-auto-rows: minmax(300px, auto); /* Forces all items to be at least 300px in height */
}

.project-box .title {
  font-size: 1.5rem;
  font-weight: 700;
}

/* Position left arrow */
.ant-carousel .slick-prev {
  left: -30px; /* Moves it further left */
}

/* Position right arrow */
.ant-carousel .slick-next {
  right: -30px; /* Moves it further right */
}
/* For small screens */
@media screen and (max-width: 767px) {
  .ant-carousel .slick-prev {
    left: -30px;
  }

  .ant-carousel .slick-next {
    right: -30px;
  }
}

/* For medium-sized screens (e.g., tablets) */
@media (min-width: 576px) and (max-width: 997px) {
  .project-box {
    max-width: 350px !important;
  }
}
