.hero-section {
  text-align: "left";
}
.hero-section h1,
.hero-section h2 {
  margin-top: 0;
}
.hero-section h1 {
  margin-bottom: 1.5rem;
}
.hero-description {
  width: 40%;
  margin-top: 0 !important;
}
.hero-description p {
  margin-top: 0 !important;
}
.custom-button:hover {
  border-color: #6c63ff !important; /* Change border color on hover */
  color: #6c63ff !important ;
}
.background-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20rem; /* Adjust as needed for desired size */
  font-weight: bold;
  color: rgba(255, 255, 255, 4%); /* Light color for background effect */
  white-space: nowrap;
  pointer-events: none; /* Ensures the text doesn't interfere with other elements */
}
