.tools-section {
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
  }
  
  .section-title {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .tools-container {
    flex: 1;
    display: flex;
    height: inherit;
    gap: 2rem;
    margin-top: 40px;
    /* align-items: flex-start; Align right column at the top */
  }
  
  .tools-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; /* Only this column is centered */
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .tools-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    height: fit-content;
  }
  
  .tool-box {
    padding: 2rem;
    border: 3px solid #f4f4f4;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 0 15px 5px rgba(117, 98, 224, 0.2); /* Purple glow */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}
.ant-segmented-item-selected{
  background-color: #56259b !important;
  color: #f4f4f4 !important;
}
.ant-segmented-item-label:hover{
  color: #f4f4f4;
}
.Technology-title{
  color: var(--primary-color);

}
  