/* header.css */
.menu-item a {
  color: #fff !important;
  text-decoration: none;
}

.menu-item a:hover {
  color: var(
    --primary-color
  ) !important; /* Assuming --primary-color is defined in your CSS variables */
}
.darkItemSelectedBg {
  background-color: transparent !important;
}
.ant-drawer-close{
  outline: none !important;
  color: #fff !important;
}
@media screen and (max-width: 767px) {
  Header {
    padding: 0 !important;
  }
  .logo-name {
    font-size: 1.25rem !important;
  }  
}
.ant-drawer-content .ant-menu-item:focus {
  background-color: var(--primary-color) !important;
}
