/* header.css */
.menu-item a {
    color: #fff !important;
    text-decoration: none;
  }
  
  .menu-item a:hover {
    color: var(--primary-color) !important; /* Assuming --primary-color is defined in your CSS variables */
  }
  .darkItemSelectedBg{
    background-color: transparent !important;
  }

  